In [1]:
import pandas as pd;
#import tensorflow as tf;
import numpy as np;
from sklearn import svm
import sklearn
import datetime

In [2]:
def convert_lang_id(df):
    conditions = [
    (df['lang'] == 'eng'),
    (df['lang'] == 'fra'),
    (df['lang'] == 'por'),
    (df['lang'] == 'spa'),
    (df['lang'] == 'deu'),
    (df['lang'] == 'ita')
    ]
    #choices = ['eng', 'fra', 'por','spa','deu','ita']
    choices = [1, 2, 3,4 ,5,6]
    df['lang'] = np.select(conditions, choices)
    return df

In [3]:
data_path="/users/pgrad/sharmaas/ML_Project/Phase2/Data/"
file_type=".csv"
train_file="train_200"
valid_file="valid_200"
test_file="test_200"

In [71]:
df_test['lang'][167]

4

In [4]:
df_train = pd.read_csv(data_path+train_file+file_type)
df_train.shape

(210000, 679)

In [5]:
df_train.drop(['Unnamed: 0'], axis=1,inplace=True)

In [6]:
df_valid = pd.read_csv(data_path+valid_file+file_type)
df_valid.drop(['Unnamed: 0'], axis=1,inplace=True)

In [7]:
df_valid = convert_lang_id(df_valid)

In [8]:
df_valid.head(2)

,Ge,I,Ma,Sc,Si,To,a,ac,al,an,...,y w,you,zio,zu,ás,ão,ère,ía,ón,lang
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,3
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5

In [9]:
df_train = convert_lang_id(df_train)
df_train.head(2)

,Ge,I,Ma,Sc,Si,To,a,ac,al,an,...,y w,you,zio,zu,ás,ão,ère,ía,ón,lang
0,0,0,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2

In [10]:
df_test = pd.read_csv(data_path+test_file+file_type)

In [11]:
df_test.drop(['Unnamed: 0'], axis=1,inplace=True)

In [12]:
df_test = convert_lang_id(df_test)

In [13]:
df_train.shape
np_arry_train = np.array(df_train)
X_train= np_arry_train[:,0:(np_arry_train.shape[1]-1)]
Y_train= np_arry_train[:,(np_arry_train.shape[1]-1):(np_arry_train.shape[1])]
print(X_train.shape)
Y_train.shape

(210000, 677)

(210000, 1)

In [ ]:
np_arry_valid = np.array(df_valid)
X_valid= np_arry_valid[:,0:(np_arry_valid.shape[1]-1)]
Y_valid= np_arry_valid[:,(np_arry_valid.shape[1]-1):(np_arry_valid.shape[1])]
print(X_valid.shape)
Y_valid.shape

In [14]:
np_arry_test = np.array(df_test)
X_test= np_arry_test[:,0:(np_arry_test.shape[1]-1)]
Y_test= np_arry_test[:,(np_arry_test.shape[1]-1):(np_arry_test.shape[1])]
print(X_train.shape)
Y_train.shape

(210000, 677)

(210000, 1)

In [21]:
#clf = svm.SVC(gamma='scale', decision_function_shape='ovo')
#clf.fit(X, Y) 
#clf = svm.LinearSVC( penalty='l1', loss='squared_hinge',dual=False)
clf = svm.SVC(kernel='linear',C=0.1)
clf.fit(X_train, Y_train)

/users/pgrad/sharmaas/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=0.1, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [22]:
clf.get_params

<bound method BaseEstimator.get_params of SVC(C=0.1, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)>

In [23]:
Y_hat_test = clf.predict(X_test)

In [24]:
lang=['eng', 'fra', 'por','spa','deu','ita']
print(sklearn.metrics.classification_report(Y_test,Y_hat_test,target_names=lang,digits=3))

             precision    recall  f1-score   support

        eng      0.997     0.992     0.994      5094
        fra      0.990     0.992     0.991      4944
        por      0.977     0.972     0.974      4960
        spa      0.966     0.970     0.968      5004
        deu      0.998     0.998     0.998      5071
        ita      0.983     0.987     0.985      4927

avg / total      0.985     0.985     0.985     30000

In [25]:
sklearn.metrics.confusion_matrix(Y_test,Y_hat_test)

array([[5054,   13,    7,    8,    5,    7],
       [   5, 4903,    8,   15,    1,   12],
       [   0,    2, 4819,  113,    1,   25],
       [   6,   17,   85, 4855,    3,   38],
       [   4,    2,    0,    2, 5061,    2],
       [   1,   15,   15,   32,    1, 4863]])

In [26]:
sklearn.metrics.accuracy_score(Y_test,Y_hat_test, normalize=True, sample_weight=None)

0.9851666666666666

In [63]:
def convert_lang_id_langname(np_imp):
    #choices = ['eng', 'fra', 'por','spa','deu','ita']
    choices = [1, 2, 3,4 ,5,6]
    np_out= np.chararray(np_imp.shape,itemsize=3)
    for x in range(np_imp.shape[0]):
        if np_imp[x]==1:
            np_out[x]='eng'
        elif np_imp[x]==2:
            np_out[x]='fra'
        elif np_imp[x]==3:
            np_out[x]='por'
        elif np_imp[x]==4:
            np_out[x]='spa'
        elif np_imp[x]==5:
            np_out[x]='deu'
        elif np_imp[x]==6:
            np_out[x]='ita'
    return np_out

In [54]:
Y_hat_test[29999]

4

In [69]:
Y_pred_lang = convert_lang_id_langname(Y_hat_test)
Y_act_lang = convert_lang_id_langname(Y_test)
Y_pred_lang.shape

(30000,)

In [70]:
pd_c_df=pd.concat([pd.DataFrame(Y_hat_test),pd.DataFrame(Y_test),pd.DataFrame(Y_pred_lang),pd.DataFrame(Y_act_lang)],axis=1)
pd_c_df.to_csv("/users/pgrad/sharmaas/ML_Project/Phase2/20181128/Outfiles/Y_hat_test_C_1__Top200.csv", sep='\t',index=False)