In [32]:
import pandas as pd;
#import tensorflow as tf;
import numpy as np;
from sklearn import svm
import sklearn
import datetime

In [2]:
def convert_lang_id(df):
    conditions = [
    (df['lang'] == 'eng'),
    (df['lang'] == 'fra'),
    (df['lang'] == 'por'),
    (df['lang'] == 'spa'),
    (df['lang'] == 'deu'),
    (df['lang'] == 'ita')
    ]
    #choices = ['eng', 'fra', 'por','spa','deu','ita']
    choices = [1, 2, 3,4 ,5,6]
    df['lang'] = np.select(conditions, choices)
    return df

In [3]:
df_train = pd.read_csv("/home/sharmaas/Projects/ML_Phase2/Data/train_100.csv")

In [4]:
df_train.drop(['Unnamed: 0'], axis=1,inplace=True)

In [5]:
df_valid = pd.read_csv("/home/sharmaas/Projects/ML_Phase2/Data/valid_100.csv")
df_valid.drop(['Unnamed: 0'], axis=1,inplace=True)

In [6]:
df_valid = convert_lang_id(df_valid)

In [8]:
df_valid.head(2)

,I,Ma,To,a,al,an,au,be,ca,ce,...,ver,voc,vou,was,you,zio,zu,ão,ía,lang
0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,3
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5

In [7]:
df_train = convert_lang_id(df_train)
df_train.head(2)

,I,Ma,To,a,al,an,au,be,ca,ce,...,ver,voc,vou,was,you,zio,zu,ão,ía,lang
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2

In [9]:
df_train.shape
np_arry = np.array(df_train)
X_train= np_arry[:,0:(np_arry.shape[1]-1)]
Y_train= np_arry[:,(np_arry.shape[1]-1):(np_arry.shape[1])]
print(X_train.shape)
Y_train.shape

(210000, 351)

(210000, 1)

In [10]:
np_arry_valid = np.array(df_valid)
X_valid= np_arry[:,0:(np_arry.shape[1]-1)]
Y_valid= np_arry[:,(np_arry.shape[1]-1):(np_arry.shape[1])]
print(X_valid.shape)
Y_valid.shape

(210000, 351)

(210000, 1)

In [11]:
#clf = svm.SVC(gamma='scale', decision_function_shape='ovo')
#clf.fit(X, Y) 
clf = svm.LinearSVC()
clf.fit(X_train, Y_train)

/home/sharmaas/anaconda3/envs/tensorflow/lib/python3.6/site-packages/sklearn/utils/validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/sharmaas/anaconda3/envs/tensorflow/lib/python3.6/site-packages/sklearn/svm/base.py:922: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
     intercept_scaling=1, loss='squared_hinge', max_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0)

In [12]:
Y_hat_valid = clf.predict(X_valid)

In [20]:
lang=['eng', 'fra', 'por','spa','deu','ita']
print(sklearn.metrics.classification_report(Y_hat_valid, Y_valid,target_names=lang))

              precision    recall  f1-score   support

         eng       0.98      0.99      0.99     34780
         fra       0.97      0.97      0.97     35081
         por       0.93      0.96      0.94     33629
         spa       0.94      0.90      0.92     36472
         deu       0.99      0.99      0.99     34868
         ita       0.96      0.95      0.96     35170

   micro avg       0.96      0.96      0.96    210000
   macro avg       0.96      0.96      0.96    210000
weighted avg       0.96      0.96      0.96    210000

In [21]:
sklearn.metrics.confusion_matrix(Y_hat_valid, Y_valid)

array([[34425,    63,    60,    73,   105,    54],
       [  214, 34095,   224,   288,    56,   204],
       [   75,   118, 32303,   899,    18,   216],
       [  141,   556,  1898, 32912,    47,   918],
       [   75,    56,    10,    24, 34676,    27],
       [   94,   248,   417,   777,    52, 33582]])

In [35]:
X1= np_arry[:,0:(np_arry.shape[1]-1)]
Y1= np_arry[:,(np_arry.shape[1]-1):(np_arry.shape[1])]
print(X1.shape)
Y1.shape

(210000, 351)

(210000, 1)

In [36]:
dt = datetime.datetime.now()
print(dt)

2018-11-19 01:09:36.820988

In [37]:
linear_svc = svm.SVC(kernel='linear')
linear_svc.fit(X1, Y1)

/home/sharmaas/anaconda3/envs/tensorflow/lib/python3.6/site-packages/sklearn/utils/validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='linear', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [38]:
dt = datetime.datetime.now()
print(dt)

2018-11-19 01:42:13.362521

In [40]:
sklearn.metrics.accuracy_score(Y_hat_valid_2, Y_valid, normalize=True, sample_weight=None)Q

0.9677142857142857

In [39]:
Y_hat_valid_2 = linear_svc.predict(X_valid)

In [41]:
dt = datetime.datetime.now()
print(dt)

2018-11-19 02:03:07.986877

In [42]:
lang=['eng', 'fra', 'por','spa','deu','ita']
print(sklearn.metrics.classification_report(Y_hat_valid_2, Y_valid,target_names=lang))

              precision    recall  f1-score   support

         eng       0.99      0.99      0.99     34990
         fra       0.98      0.98      0.98     35235
         por       0.94      0.96      0.95     34021
         spa       0.94      0.92      0.93     35638
         deu       0.99      1.00      1.00     34880
         ita       0.97      0.96      0.96     35236

   micro avg       0.97      0.97      0.97    210000
   macro avg       0.97      0.97      0.97    210000
weighted avg       0.97      0.97      0.97    210000

In [43]:
sklearn.metrics.confusion_matrix(Y_hat_valid_2, Y_valid)

array([[34649,    86,    60,    56,    88,    51],
       [  124, 34380,   171,   330,    53,   177],
       [   44,    96, 32719,   971,     7,   184],
       [   81,   372,  1616, 32838,    29,   702],
       [   66,    27,     7,     9, 34759,    12],
       [   60,   175,   339,   769,    18, 33875]])